form{
    background-color:rgb(221, 221, 221);
}
body{
    background-color: azure;
}
label{
    color: black;
    font-size: 20px;
}
input{
    color:rgb(26, 11, 11);
    font-size: 40 px;
    width: 200px;
    height: 40px;
    border:5px solid;
    border-radius: 8px;
}
select{
    color:rgb(26, 11, 11);
    font-size: 40 px;
    width: 200px;
    height: 40px;
    border:5px solid;
    border-radius: 8px;

}